/**
 * @prop --grid: Specify grid template areas
 * @prop --font: Pass the font family you want the text to be in
 * @prop --border-width: Width of the calendar cell border
 * @prop --border-color: Color of the calendar cell border
 * @prop --cell-width: Width of the calendar cell
 * @prop --cell-height: Height of the calendar cell
 * @prop --selected-bg-color: Background color of selected day cell
 * @prop --other-month-visibility: Hidden by default, can be set to visible
 * @prop --other-month-border: None by default
 * @prop --hover-bg-color: Cell background color on hover
 * @prop --hover-color: Cell text color on hover
 */

:host {
  font-family: var(--font, -apple-system, BlinkMacSystemFont);
  user-select: none;
}

.grid {
  display: inline-grid;
  grid-template-areas: var(--grid,
    "nav nav"
    "mn mn"
  );
}

.navigation {
  grid-area: nav;
}

.inline-flex {
  display: inline-flex;
  flex-direction: column;
}

.flex {
  display: flex;
}

section {
  display: flex;
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.button {
  cursor: pointer;
}

table {
  border-collapse: collapse;
}

td {
  border: var(--border-width, 1px) solid var(--border-color, #e4e7e7);
  text-align: center;
  width: var(--cell-width, 36px);
  height: var(--cell-height, 36px);
}

td.borderless {
  border: none;
}

td.day-name {
  font-size: 12px;
}

td.today {
  color: #9e9c9c;
}

/* has to be after today to override it */
td.selected {
  background-color: var(--selected-bg-color, #00a699);
  color: white;
}

td.in-range {
  background-color: var(--in-range-bg-color, #00a699);
  color: white;
}

td.other-month {
  visibility: var(--other-month-visibility, hidden);
  border: var(--other-month-border, none); /* needed for Firefox */
}

td.day:not(.other-month):hover {
  background-color: var(--hover-bg-color, gainsboro);
  color: var(--hover-color, black);
  cursor: pointer;
}
