/**
 * @prop --grid: Specify grid template areas
 * @prop --grid-column-gap: Specify grid column gap
 * @prop --out-of-range-color: Cell text color when day is out of range / disabled
 * @prop --navigation-height: Specify grid column gap
 * @prop --font: Pass the font family you want the text to be in
 * @prop --cell-border-width: Width of the calendar cell border
 * @prop --cell-border-style: Style of the calendar cell border
 * @prop --cell-border-color: Color of the calendar cell border
 * @prop --cell-width: Width of the calendar cell
 * @prop --cell-height: Height of the calendar cell
 * @prop --cell-text-align: Text alignment of the calendar cell
 * @prop --cell-font-size: Font size of the calendar cell
 * @prop --day-name-font-size: Font size of day name
 * @prop --today-color: Font color of today's cell
 * @prop --selected-bg-color: Background color of selected day cell
 * @prop --selected-color: Color of selected day cell
 * @prop --other-month-visibility: Hidden by default, can be set to visible
 * @prop --other-month-border: None by default
 * @prop --hover-bg-color: Cell background color on hover
 * @prop --hover-color: Cell text color on hover
 * @prop --day-cursor: Cursor on cell hover
 * @prop --in-range-bg-color: Background color of in-range cell
 * @prop --in-range-color: Color of in-range cell
 */

:host {
  font-family: var(--font, -apple-system, BlinkMacSystemFont);
  user-select: none;
}

.grid {
  display: inline-grid;
  grid-template-areas: var(--grid,
    "nav nav"
    "mn  mn"
  );
  column-gap: var(--grid-column-gap, 0px);
}

.disabled {
  pointer-events: none;
  color: var(--out-of-range-color, #d3d3d3);
}

.navigation {
  grid-area: nav;
  height: var(--navigation-height, 16px);
}

.inline-flex {
  display: inline-flex;
  flex-direction: column;
}

.flex {
  display: flex;
}

section {
  display: flex;
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.button {
  cursor: pointer;
}

table {
  border-collapse: collapse;
}

td {
  border-width: var(--cell-border-width, 1px);
  border-style: var(--cell-border-style, solid);
  border-color: var(--cell-border-color, #e4e7e7);
  width: var(--cell-width, 2.5rem);
  height: var(--cell-height, 2.5rem);
  text-align: var(--cell-text-align, center);
  font-size: var(--cell-font-size, 1rem);
}

td.borderless {
  border: none;
}

td.day-name {
  font-size: var(--day-name-font-size, 1rem);
}

td.today {
  color: var(--today-color, #9e9c9c);
}

/* has to be after today to override it */
td.selected {
  background-color: var(--selected-bg-color, #00a699);
  color: var(--selected-color, white);
}

td.in-range {
  background-color: var(--in-range-bg-color, #00a699);
  color: var(--in-range-color, white);
}

td.other-month {
  visibility: var(--other-month-visibility, hidden);
  border: var(--other-month-border, none); /* needed for Firefox */
}

td.day:not(.other-month):hover {
  cursor: var(--day-cursor, pointer);
}

td.day:not(.other-month):not(.range-select-in-progress):hover {
  background-color: var(--hover-bg-color, gainsboro);
  color: var(--hover-color, black);
}
